openapi: 3.2.0
info:
  title: Sarj Ai Developer Calls API
  version: 1.0.0
  description: 'Operations tagged Calls across 2 of this provider''s published API definitions: sarj-ai-developer-api-developer-openapi.json, sarj-ai-developer-api-voice-platform-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://platform-api.sarj.ai/api/v1
  description: Production
tags:
- name: Calls
  description: Create outbound voice calls and retrieve call details and transcripts.
paths:
  /calls:
    servers:
    - url: https://platform-api.sarj.ai/api/v1
      description: Production
    post:
      tags:
      - Calls
      summary: Place an outbound Sarj.ai voice call
      description: 'Place an outbound Sarj.ai voice call: dials the given phone_number and runs the specified scenario (with optional template variables and language). Returns a call_id that can be polled via getCall. Use this whenever the user asks to call, dial, ring, or phone someone through Sarj.ai — do not attempt to start calls by writing to the database or invoking telephony providers directly.'
      operationId: createCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_PublicCall_'
              example:
                data:
                  id: call_8f9b2c1e-4a5d-4f6e-8b1a-2c3d4e5f6a7b
                  status: queued
                  phone_number: '+966512345678'
                  scenario_id: scn_abc123
                  created_at: '2026-04-12T10:30:00Z'
                meta:
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '400':
          description: Outbound call failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  type: outbound_call_failed
                  message: Outbound call could not be initiated.
                  reason: telephony_provider_unavailable
                meta:
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  type: unauthorized
                  message: Authentication required.
                meta: {}
        '403':
          description: Forbidden — phone number blocked or scenario access denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                phone_number_blocked:
                  summary: Phone number is blocked
                  value:
                    error:
                      type: phone_number_blocked
                      message: Phone number +966512345678 is blocked.
                      phone_number: '+966512345678'
                    meta:
                      request_id: 550e8400-e29b-41d4-a716-446655440000
                scenario_forbidden:
                  summary: Scenario belongs to a different organization
                  value:
                    error:
                      type: scenario_forbidden
                      message: Access denied to scenario scn_abc123.
                      scenario_id: scn_abc123
                    meta:
                      request_id: 550e8400-e29b-41d4-a716-446655440000
        '404':
          description: Scenario not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  type: scenario_not_found
                  message: Scenario scn_abc123 was not found.
                  scenario_id: scn_abc123
                meta:
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '422':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  type: validation_error
                  message: Request validation failed.
                  field_violations:
                  - field: body.phone_number
                    message: value is not a valid phone number
                meta:
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '429':
          description: Call limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  type: call_limit_exceeded
                  message: Call limit of 10 reached for phone number +966512345678.
                  phone_number: '+966512345678'
                  call_limit: 10
                meta:
                  request_id: 550e8400-e29b-41d4-a716-446655440000
      x-codeSamples:
      - label: Python (SDK)
        lang: Python
        source: "import os\nfrom sarj_platform_sdk import SDK\n\nsdk = SDK(api_key_auth=os.environ[\"SARJ_API_KEY\"])\nres = sdk.calls.create_call(\n    phone_number=\"+966512345678\",\n    scenario_id=\"scn_abc123\",\n    language=\"ar\",\n)\nprint(f\"Call queued: {res.data.id}\")"
      - label: curl
        lang: bash
        source: "curl -X POST https://platform-api.sarj.ai/api/v1/calls \\\n  -H \"Authorization: Bearer $SARJ_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"phone_number\": \"+966512345678\",\n    \"scenario_id\": \"scn_abc123\",\n    \"language\": \"ar\"\n  }'"
      - label: Python (requests)
        lang: Python
        source: "import os\nimport requests\n\nresponse = requests.post(\n    \"https://platform-api.sarj.ai/api/v1/calls\",\n    headers={\n        \"Authorization\": f\"Bearer {os.environ['SARJ_API_KEY']}\",\n    },\n    json={\n        \"phone_number\": \"+966512345678\",\n        \"scenario_id\": \"scn_abc123\",\n        \"language\": \"ar\",\n    },\n)\nresponse.raise_for_status()\ncall = response.json()[\"data\"]\nprint(f\"Call queued: {call['id']}\")"
      - label: TypeScript
        lang: TypeScript
        source: "const response = await fetch(\"https://platform-api.sarj.ai/api/v1/calls\", {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${process.env.SARJ_API_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({\n    phone_number: \"+966512345678\",\n    scenario_id: \"scn_abc123\",\n    language: \"ar\",\n  }),\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst { data: call } = await response.json();\nconsole.log(`Call queued: ${call.id}`);"
      security:
      - ApiKeyAuth: []
  /calls/{call_id}:
    servers:
    - url: https://platform-api.sarj.ai/api/v1
      description: Production
    get:
      tags:
      - Calls
      summary: Fetch Sarj.ai voice call details by call_id
      description: 'Fetch details of a Sarj.ai voice call by call_id: status, phone_number, scenario_id, language, direction (inbound/outbound), scenario variables, duration (seconds), recording_url (signed download link), transcript (list of spoken messages), report (post-call outcome with success-criteria results; generated asynchronously shortly after completed calls, null otherwise), and timestamps (created_at, updated_at, started_at, ended_at). Use this whenever the user asks about a specific call, phone conversation, or voice interaction by its call_id — do not query other tools.'
      operationId: getCall
      parameters:
      - name: call_id
        in: path
        required: true
        schema:
          type: string
          title: Call Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_PublicCallDetail_'
              example:
                data:
                  id: call_8f9b2c1e-4a5d-4f6e-8b1a-2c3d4e5f6a7b
                  status: completed
                  phone_number: '+966512345678'
                  scenario_id: 550e8400-e29b-41d4-a716-446655440000
                  language: ar
                  direction: outbound
                  variables:
                    customer_name: Ahmad
                    order_id: ORD-123
                  duration: 142
                  recording_url: https://storage.googleapis.com/sarj-recordings/calls/8f9b2c1e.mp4?X-Goog-Signature=...
                  transcript:
                  - role: assistant
                    content: Hello Ahmad, calling about order ORD-123.
                  - role: user
                    content: Yes, hi.
                  - role: assistant
                    content: Your order is ready for delivery tomorrow.
                  report:
                    generated_at: '2026-04-12T10:33:41Z'
                    outcome:
                      status: success
                      reason: The customer confirmed the delivery appointment for tomorrow.
                      success_criteria:
                      - text: Customer confirms the delivery slot
                        achieved: true
                        is_primary: true
                  created_at: '2026-04-12T10:30:00Z'
                  updated_at: '2026-04-12T10:32:22Z'
                  started_at: '2026-04-12T10:30:05Z'
                  ended_at: '2026-04-12T10:32:22Z'
                meta:
                  request_id: 550e8400-e29b-41d4-a716-446655440000
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              example:
                error:
                  type: unauthorized
                  message: Authentication required.
                meta: {}
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: API key not associated with an organization.
          content:
            application/json:
              example:
                error:
                  type: no_organization
                  message: API key is not associated with an organization.
                meta:
                  request_id: 550e8400-e29b-41d4-a716-446655440000
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Call not found.
          content:
            application/json:
              example:
                error:
                  type: call_not_found
                  message: Call call_8f9b2c1e-4a5d-4f6e-8b1a-2c3d4e5f6a7b was not found.
                  call_id: call_8f9b2c1e-4a5d-4f6e-8b1a-2c3d4e5f6a7b
                meta:
                  request_id: 550e8400-e29b-41d4-a716-446655440000
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - label: Python (SDK)
        lang: Python
        source: 'import os

          from sarj_platform_sdk import SDK


          sdk = SDK(api_key_auth=os.environ["SARJ_API_KEY"])

          res = sdk.calls.get_call(call_id="call_8f9b2c1e-4a5d-4f6e-8b1a-2c3d4e5f6a7b")

          call = res.data

          print(f"Status: {call.status}, duration: {call.duration}")'
      - label: curl
        lang: bash
        source: "curl https://platform-api.sarj.ai/api/v1/calls/call_8f9b2c1e-4a5d-4f6e-8b1a-2c3d4e5f6a7b \\\n  -H \"Authorization: Bearer $SARJ_API_KEY\""
      - label: Python (requests)
        lang: Python
        source: "import os\nimport requests\n\ncall_id = \"call_8f9b2c1e-4a5d-4f6e-8b1a-2c3d4e5f6a7b\"\nresponse = requests.get(\n    f\"https://platform-api.sarj.ai/api/v1/calls/{call_id}\",\n    headers={\n        \"Authorization\": f\"Bearer {os.environ['SARJ_API_KEY']}\",\n    },\n)\nresponse.raise_for_status()\ncall = response.json()[\"data\"]\nprint(f\"Status: {call['status']}, duration: {call['duration']}\")"
      - label: TypeScript
        lang: TypeScript
        source: "const callId = \"call_8f9b2c1e-4a5d-4f6e-8b1a-2c3d4e5f6a7b\";\nconst response = await fetch(\n  `https://platform-api.sarj.ai/api/v1/calls/${callId}`,\n  {\n    headers: {\n      \"Authorization\": `Bearer ${process.env.SARJ_API_KEY}`,\n    },\n  },\n);\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst { data: call } = await response.json();\nconsole.log(`Status: ${call.status}, duration: ${call.duration}`);"
      security:
      - ApiKeyAuth: []
  /v1/beta/calls/outbound:
    post:
      tags:
      - Calls
      summary: Outbound Call
      operationId: callsOutboundCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundCallInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/chat:
    post:
      tags:
      - Calls
      summary: Create Chat
      operationId: callsCreateChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCallInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/InboundCallSuccess'
                - $ref: '#/components/schemas/InboundCallFailure'
                title: Response Callscreatechat
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/client:
    post:
      tags:
      - Calls
      summary: Create Client Call
      operationId: callsCreateClientCall
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCallInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCallResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/detail/{call_id}:
    get:
      tags:
      - Calls
      summary: Get Detail
      operationId: callsGetDetail
      parameters:
      - name: call_id
        in: path
        required: true
        schema:
          type: string
          title: Call Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallDetail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/{call_id}/transcriptions:
    get:
      tags:
      - Calls
      summary: Get Transcriptions
      operationId: callsGetTranscriptions
      parameters:
      - name: call_id
        in: path
        required: true
        schema:
          type: string
          title: Call Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/STTTranscription'
                title: Response Callsgettranscriptions
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/{call_id}/retry-outcome:
    post:
      tags:
      - Calls
      summary: Retry Call Outcome
      operationId: callsRetryCallOutcome
      parameters:
      - name: call_id
        in: path
        required: true
        schema:
          type: string
          title: Call Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/count-for-org:
    post:
      tags:
      - Calls
      summary: Count For Org
      operationId: callsCountForOrg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountForOrgInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountForOrgResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/blocked-numbers:
    post:
      tags:
      - Calls
      summary: Block Number
      operationId: callsBlockNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockNumberInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/blocked-numbers/{phone_number}:
    delete:
      tags:
      - Calls
      summary: Unblock Number
      operationId: callsUnblockNumber
      parameters:
      - name: phone_number
        in: path
        required: true
        schema:
          type: string
          title: Phone Number
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/beta/calls/phone-numbers:
    get:
      tags:
      - Calls
      summary: List Phone Numbers
      operationId: callsListPhoneNumbers
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 10
          title: Limit
      - name: phone_number
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Phone Number
      - name: organization_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Id
      - name: sort_by
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PhoneNumberSortField'
          default: total_call_count
      - name: sort_order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
          default: desc
      - name: date_from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Date From
      - name: date_to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Date To
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberHistoryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    OpenAITTSModels:
      type: string
      enum:
      - gpt-4o-mini-tts
      - tts-1
      - tts-1-hd
      title: OpenAITTSModels
    StringVariable:
      properties:
        type:
          type: string
          const: string
          title: Type
        name:
          type: string
          minLength: 1
          title: Name
        config:
          anyOf:
          - $ref: '#/components/schemas/FixedValue_str_'
          - $ref: '#/components/schemas/ScenarioVariable'
          - $ref: '#/components/schemas/GlobalVariable'
          - $ref: '#/components/schemas/AgentProvidedVariable_Literal__string___'
          title: Config
      type: object
      required:
      - type
      - name
      - config
      title: StringVariable
    HamsaTTSDialect:
      type: string
      enum:
      - pls
      - egy
      - syr
      - irq
      - jor
      - leb
      - ksa
      - uae
      - bah
      - qat
      - msa
      title: HamsaTTSDialect
    ModelConfig:
      properties:
        stt:
          anyOf:
          - $ref: '#/components/schemas/GoogleSTTSettings'
          - $ref: '#/components/schemas/AzureSTTSettings'
          - $ref: '#/components/schemas/AWSSTTSettings'
          - $ref: '#/components/schemas/GroqSTTSettings'
          - $ref: '#/components/schemas/OpenAISTTSettings'
          - $ref: '#/components/schemas/ElevenLabsSTTSettings'
          - $ref: '#/components/schemas/SpeechmaticsSTTSettings'
          - $ref: '#/components/schemas/HamsaSTTSettings'
          - $ref: '#/components/schemas/SarjGroqSTTSettings'
          - $ref: '#/components/schemas/SarjCustomSTTSettings'
          - $ref: '#/components/schemas/DeepgramSTTSettings'
          title: Stt
        tts:
          anyOf:
          - $ref: '#/components/schemas/ElevenLabsTTSSettings'
          - $ref: '#/components/schemas/AzureTTSSettings'
          - $ref: '#/components/schemas/OpenAITTSSettings'
          - $ref: '#/components/schemas/AWSTTSSettings'
          - $ref: '#/components/schemas/GroqTTSSettings'
          - $ref: '#/components/schemas/HamsaTTSSettings'
          - $ref: '#/components/schemas/CartesiaTTSSettings'
          - $ref: '#/components/schemas/DeepgramTTSSettings'
          - $ref: '#/components/schemas/SarjF5TTSSettings'
          - $ref: '#/components/schemas/SarjOmniTTSSettings'
          title: Tts
        llm:
          anyOf:
          - $ref: '#/components/schemas/OpenAILLMSettings'
          - $ref: '#/components/schemas/GeminiLLMSettings'
          - $ref: '#/components/schemas/GroqLLMSettings'
          - $ref: '#/components/schemas/AzureOpenAILLMSettings'
          - $ref: '#/components/schemas/CerebrasLLMSettings'
          title: Llm
        voice_details:
          anyOf:
          - $ref: '#/components/schemas/TTSVoice'
          - type: 'null'
        voice_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Voice Id
      type: object
      required:
      - stt
      - tts
      - llm
      - voice_details
      title: ModelConfig
    EnhancedTranscriptionMessage:
      properties:
        type:
          type: string
          const: enhanced_transcription
          title: Type
          default: enhanced_transcription
        call_id:
          type: string
          title: Call Id
      type: object
      required:
      - call_id
      title: EnhancedTranscriptionMessage
    ScenarioVariable:
      properties:
        source:
          type: string
          const: scenario_variable
          title: Source
        variable_id:
          type: string
          minLength: 1
          title: Variable Id
      type: object
      required:
      - source
      - variable_id
      title: ScenarioVariable
    SarjF5TTSSettings:
      properties:
        provider:
          type: string
          const: sarj_f5
          title: Provider
        voice:
          $ref: '#/components/schemas/SarjF5TTSVoice'
          default: Male
      type: object
      required:
      - provider
      title: SarjF5TTSSettings
    WorkingHoursDisabled:
      properties:
        enabled:
          type: boolean
          const: false
          title: Enabled
          default: false
      type: object
      title: WorkingHoursDisabled
    CallCompletedWebhookPayload:
      properties:
        type:
          type: string
          const: complete
          title: Type
          default: complete
        call_started:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Call Started
        response_body:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Response Body
        call_data:
          anyOf:
          - $ref: '#/components/schemas/CallData'
          - type: 'null'
      type: object
      required:
      - response_body
      title: CallCompletedWebhookPayload
    SipStatus:
      type: string
      enum:
      - active
      - automation
      - user_rejected
      - user_unavailable
      - client_initiated_disconnect
      - no_answer
      - unknown
      - rejected_by_carrier
      - invalid_number
      - sip_trunk_failure
      title: SipStatus
    CallRecording:
      properties:
        recording_prefix:
          type: string
          title: Recording Prefix
        recording_format:
          $ref: '#/components/schemas/CallRecordingFormat'
        signed_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Signed Url
      type: object
      required:
      - recording_prefix
      - recording_format
      title: CallRecording
    InboundCallFailure:
      properties:
        type:
          type: string
          const: failure
          title: Type
          default: failure
        call:
          anyOf:
          - $ref: '#/components/schemas/Call'
          - type: 'null'
        reason:
          type: string
          title: Reason
      type: object
      required:
      - call
      - reason
      title: InboundCallFailure
    AdvancedDataExtractionSettings:
      properties:
        additional_sinks:
          items:
            oneOf:
            - $ref: '#/components/schemas/ZohoCRMRecordSink'
            discriminator:
              propertyName: type
              mapping:
                zoho_crm_update_record: '#/components/schemas/ZohoCRMRecordSink'
          type: array
          title: Additional Sinks
      type: object
      title: AdvancedDataExtractionSettings
    OauthInvalidRedirectUriPayload:
      properties:
        message:
          type: string
          title: Message
          description: Human-readable summary. Do not parse programmatically — branch on `type`.
        type:
          type: string
          const: oauth_invalid_redirect_uri
          title: Type
          default: oauth_invalid_redirect_uri
        redirect_uri:
          type: string
          title: Redirect Uri
      additionalProperties: false
      type: object
      required:
      - message
      - redirect_uri
      title: OauthInvalidRedirectUriPayload
    DisableSTTFallback:
      properties:
        type:
          type: string
          const: disable
          title: Type
          default: disable
      type: object
      title: DisableSTTFallback
    DeleteOldTasksTickMessage:
      properties:
        type:
          type: string
          const: delete_old_tasks_tick
          title: Type
          default: delete_old_tasks_tick
        tick_id:
          type: string
          title: Tick Id
      type: object
      title: DeleteOldTasksTickMessage
    ToolCallMessage:
      properties:
        type:
          type: string
          const: function_call
          title: Type
          default: function_call
        tool_name:
          type: string
          title: Tool Name
        arguments:
          type: string
          title: Arguments
        tool_call_id:
          type: string
          title: Tool Call Id
        start_at:
          anyOf:
          - type: number
          - type: 'null'
          title: Start At
      type: object
      required:
      - tool_name
      - arguments
      - tool_call_id
      title: ToolCallMessage
    ZohoCallActivityMessage:
      properties:
        type:
          type: string
          const: zoho_call_activity
          title: Type
          default: zoho_call_activity
        call_id:
          type: string
          title: Call Id
        record_id:
          type: string
          title: Record Id
        module:
          $ref: '#/components/schemas/ZohoCRMModules'
          default: Leads
      type: object
      required:
      - call_id
      - record_id
      title: ZohoCallActivityMessage
    CustomScenarioConfig:
      properties:
        for_language_settings:
          items:
            $ref: '#/components/schemas/ForLanguageSettings'
          type: array
          minItems: 1
          title: For Language Settings
          description: Language-specific settings including prompt and first message. MUST have at least 1 entry.
        template_schema:
          $ref: '#/components/schemas/Schema'
          description: Schema defining variables that can be passed to the scenario (e.g., customer_name)
        success_criteria:
          items:
            $ref: '#/components/schemas/SuccessCriterion'
          type: array
          title: Success Criteria
          description: List of criteria to evaluate call success. At least one should have is_primary=True.
          default: []
        tools:
          items:
            oneOf:
            - $ref: '#/components/schemas/EndCallToolParameters'
            - $ref: '#/components/schemas/TransferToHumanToolParameters'
            - $ref: '#/components/schemas/ZohoDeskCreateTicketToolParameters'
            - $ref: '#/components/schemas/CustomApiToolParameters'
            - $ref: '#/components/schemas/CodeSwitchToolParameters'
            - $ref: '#/components/schemas/SallaToolsBundleConfiguration'
            - $ref: '#/components/schemas/IVRNavigationToolParameters'
            - $ref: '#/components/schemas/VoicemailDetectionToolParameters'
            - $ref: '#/components/schemas/CollectDigitsToolParameters'
            discriminator:
              propertyName: tool_slug
              mapping:
                code-switching: '#/components/schemas/CodeSwitchToolParameters'
                collect-digits: '#/components/schemas/CollectDigitsToolParameters'
                custom-api: '#/components/schemas/CustomApiToolParameters'
                end-call: '#/components/schemas/EndCallToolParameters'
                ivr-navigation: '#/components/schemas/IVRNavigationToolParameters'
                salla-tools: '#/components/schemas/SallaToolsBundleConfiguration'
                transfer-to-human: '#/components/schemas/TransferToHumanToolParameters'
                voicemail-detection: '#/components/schemas/VoicemailDetectionToolParameters'
                zoho-desk-create-ticket: '#/components/schemas/ZohoDeskCreateTicketToolParameters'
          type: array
          title: Tools
          description: List of tools the AI can use during the call (end-call, transfer, etc.)
        data_extraction_settings:
          oneOf:
          - $ref: '#/components/schemas/DataExtractionEnabled'
          - $ref: '#/components/schemas/DataExtractionDisabled'
          title: Data Extraction Settings
          description: Configuration for extracting structured data from the call
          default:
            type: disabled
          discriminator:
            propertyName: type
            mapping:
              disabled: '#/components/schemas/DataExtractionDisabled'
              enabled: '#/components/schemas/DataExtractionEnabled'
        record_sinks:
          $ref: '#/components/schemas/RecordingSinkSettings'
          description: Destinations that receive the call record (e.g. its recording) after the call, independent of data extraction.
        knowledge_base_ids:
          items:
            type: string
          type: array
          title: Knowledge Base Ids
          description: IDs of knowledge bases to attach
        kb_retrieval_mode:
          $ref: '#/components/schemas/KbRetrievalMode'
          description: 'How attached knowledge bases reach the agent: inlined into the system prompt, or queried on demand via an LLM retrieval tool. llm_tool engages the retriever only when the knowledge base exceeds the inline prompt budget; smaller knowledge bases stay inline for latency.'
          default: inline
        tz:
          type: string
          title: Tz
          description: The timezone used by the scenario to derive the correct current time at runtime.
          default: Asia/Riyadh
      type: object
      required:
      - for_language_settings
      - template_schema
      title: CustomScenarioConfig
      description: "Complete configuration for a voice bot scenario.\n\nThis is the FULL structure the scenario generator must produce.\nOutput ONLY raw JSON - no markdown code blocks, no explanatory text.\n\nCOMPLETE OUTPUT EXAMPLE:\n```json\n{\n  \"config\": {\n    \"data_extraction_settings\": {\n      \"type\": \"enabled\",\n      \"json_schema\": {\n        \"type\": \"object\",\n        \"title\": \"Customer Feedback\",\n        \"description\": \"Data collected from customer feedback call\",\n        \"required\": [\"satisfaction_rating\"],\n        \"properties\": {\n          \"satisfaction_rating\": {\n            \"type\": \"integer\",\n            \"title\": \"Satisfaction Rating\",\n            \"description\": \"Customer satisfaction from 1-5\",\n            \"minimum\": 1,\n            \"maximum\": 5\n          },\n          \"preferred_contact_method\": {\n            \"type\": \"string\",\n            \"title\": \"Preferred Contact Method\",\n            \"enum\": [\"phone\", \"email\", \"whatsapp\", \"sms\"]\n          }\n        }\n      },\n      \"advanced_settings\": {\"additional_sinks\": []}\n    },\n    \"for_language_settings\": [\n      {\n        \"back_channeling\": {\n          \"type\": \"word\",\n          \"value\": 0.6,\n          \"whitelist\": [\"تمام\", \"حاضر\", \"ممتاز\", \"زين\", \"نعم\"]\n        },\n        \"default\": true,\n        \"first_message\": \"السلام عليكم، معك نور من {{company_name}}. كيف حالك؟\",\n        \"language_settings\": {\"language\": \"ar\"},\n        \"prompt\": \"[Business-focused prompt with sections and hardcoded messages]\",\n        \"removed\": false,\n        \"timeout_settings\": {\"duration\": 15, \"max_retries\": 5, \"type\": \"enabled\"},\n        \"voice\": null\n      },\n      {\n        \"back_channeling\": {\n          \"type\": \"word\",\n          \"value\": 0.6,\n          \"whitelist\": [\"hmm\", \"I see\", \"mm-hmm\", \"uh-huh\"]\n        },\n        \"default\": false,\n        \"first_message\": \"Hello, this is Nour from {{company_name}}. How are you?\",\n        \"language_settings\": {\"language\": \"en\"},\n        \"prompt\": \"[English version with cultural adaptations]\",\n        \"removed\": false,\n        \"timeout_settings\": {\"duration\": 15, \"max_retries\": 5, \"type\": \"enabled\"},\n        \"voice\": null\n      }\n    ],\n    \"success_criteria\": [\n      {\n        \"is_primary\": true,\n        \"text\": \"- Collected customer feedback\\n- Confirmed satisfaction rating\\n- Offered follow-up if needed\"\n      },\n      {\n        \"is_primary\": false,\n        \"text\": \"Agent offered loyalty discount to retain customer\"\n      }\n    ],\n    \"template_schema\": {\n      \"fields\": [\n        {\"id\": \"customer_name\", \"type\": \"text\"},\n        {\"id\": \"company_name\", \"type\": \"text\"}\n      ]\n    },\n    \"tools\": [\n      {\n        \"tool_slug\": \"end-call\",\n        \"end_call_conditions\": [\n          \"When conversation objective is complete\",\n          \"When customer confirms satisfaction\"\n        ],\n        \"end_call_messages\": {\n          \"ar\": \"شكراً لوقتك. في أمان الله\",\n          \"en\": \"Thank you for your time. Have a great day!\"\n        }\n      },\n      {\n        \"tool_slug\": \"transfer-to-human\",\n        \"dtmf_triggers\": [\"*\"],\n        \"transfer_cases\": [\n          \"User explicitly requests human\",\n          \"Issue complexity exceeds capability\"\n        ],\n        \"transfer_messages\": {\n          \"ar\": \"بحوّلّك الحين لأحد المختصين\",\n          \"en\": \"I'll connect you with a specialist\"\n        },\n        \"transfer_to\": \"+966501234567\",\n        \"working_hours\": null\n      },\n    ]\n  },\n  \"suggestions\": [\n    {\n      \"type\": \"assumption_made\",\n      \"section\": \"tools\",\n      \"title\": \"Support Team Transfer\",\n      \"message\": \"Set transfer to support team (not sales)\",\n      \"tool_slug\": \"transfer-to-human\"\n    },\n    {\n      \"type\": \"verification_needed\",\n      \"section\": \"tools\",\n      \"title\": \"Update Transfer Number\",\n      \"message\": \"Update transfer phone number with your actual number\",\n      \"current_value\": \"+966501234567\",\n      \"fix_type\": \"phone\",\n      \"tool_slug\": \"transfer-to-human\"\n    },\n    {\n      \"type\": \"resource_linking\",\n      \"section\": \"knowledge_bases\",\n      \"title\": \"Add Product FAQs\",\n      \"message\": \"Create a knowledge base with your product FAQs\",\n      \"action_label\": \"Create Knowledge Base\",\n      \"action_url\": \"/knowledge-bases\"\n    }\n  ],\n  \"name\": \"Customer Feedback Collection\",\n  \"status\": \"active\"\n}\n```\n\nFIELD NOTES:\n- data_extraction_settings: Optional. Include when client needs structured data capture.\n- knowledge_base_ids: Optional. Only use IDs from available_knowledge_bases input.\n- voice: Always set to null - voice selection happens in UI.\n- tools: Core tools (end-call, transfer-to-human, code-switching) enabled by default. Integration tools require OAuth setup.\n- first_message: Use {{variable}} format for pre-existing variables.\n- success_criteria: Exactly ONE with is_primary=true (can have multiple points via \\n)."
    ScenarioOptionalField:
      properties:
        id:
          type: string
          maxLength: 100
          minLength: 1
          title: Id
        source:
          type: string
          const: scenario
          title: Source
          default: scenario
        type:
          type: string
          enum:
          - text
          - number
          - boolean
          title: Type
        required:
          type: boolean
          const: false
          title: Required
          default: false
        default:
          anyOf:
          - {}
          - type: 'null'
          title: Default
      type: object
      required:
      - id
      - type
      title: ScenarioOptionalField
    BackChannelConfig:
      properties:
        type:
          type: string
          const: freq
          title: Type
          default: freq
        value:
          type: number
          maximum: 1.0
          exclusiveMinimum: 0.0
          title: Value
          default: 0.6
        whitelist:
          items:
            type: string
          type: array
          title: Whitelist
      type: object
      title: BackChannelConfig
    CallCreationSettings:
      properties:
        identity:
          type: string
          title: Identity
        language:
          $ref: '#/components/schemas/Language'
        scenario:
          $ref: '#/components/schemas/CustomScenario'
        callee:
          anyOf:
          - $ref: '#/components/schemas/CallSubject'
          - type: 'null'
        call_id:
          type: string
          title: Call Id
        origin:
          anyOf:
          - $ref: '#/components/schemas/ApiCall'
          - $ref: '#/components/schemas/SipCall'
          - type: 'null'
          title: Origin
        scenario_config:
          $ref: '#/components/schemas/Custom'
        interaction_type:
          $ref: '#/components/schemas/InteractionType'
          default: voice
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
        app_settings:
          anyOf:
          - $ref: '#/components/schemas/GlobalOverriddenSettings'
          - $ref: '#/components/schemas/GlobalDefaultSettings'
          title: App Settings
        organization_id:
          type: string
          title: Organization Id
        sip_account_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Sip Account Id
      type: object
      required:
      - identity
      - language
      - scenario
      - call_id
      - scenario_config
      - app_settings
      - organization_id
      title: CallCreationSettings
    Custom:
      properties:
        type:
          type: string
          const: custom
          title: Type
          default: custom
        scenario:
          $ref: '#/components/schemas/CustomScenario'
      type: object
      required:
      - scenario
      title: Custom
    CallNotCompletedType:
      type: string
      enum:
      - failed
      - automation
      - user_rejected
      - user_unavailable
      - no_answer
      - rejected_by_carrier
      - invalid_number
      - sip_trunk_failure
      title: CallNotCompletedType
    Task:
      properties:
        id:
          type: string
          title: Id
        organization_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Id
        user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: User Id
        call_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Call Id
        batch_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Batch Id
        type:
          $ref: '#/components/schemas/TaskType'
        status:
          $ref: '#/components/schemas/TaskStatus'
        status_changed_at:
          type: string
          format: date-time
          title: Status Changed At
        message:
          oneOf:
          - $ref: '#/components/schemas/EnhancedTranscriptionMessage'
          - $ref: '#/components/schemas/CallOutcomeMessage'
          - $ref: '#/components/schemas/ScenarioInsightAnalysisMessage'
          - $ref: '#/components/schemas/BatchReportGenerationMessage'
          - $ref: '#/components/schemas/CreateBatchCallsMessage'
          - $ref: '#/components/schemas/BatchCallsRetryMessage'
          - $ref: '#/components/schemas/StartBatchCallsTickMessage'
          - $ref: '#/components/schemas/DeleteOldTasksTickMessage'
          - $ref: '#/components/schemas/OutboundDispatchTickMessage'
          - $ref: '#/components/schemas/DeleteExpiredOrgDataTickMessage'
          - $ref: '#/components/schemas/WebhookNotificationMessage'
          - $ref: '#/components/schemas/ZohoCRMRecordUpdateMessage'
          - $ref: '#/components/schemas/ZohoCallActivityMessage'
          - $ref: '#/components/schemas/StaleCallCleanupMessage'
          - $ref: '#/components/schemas/CallQueuedHealthCheckMessage'
          - $ref: '#/components/schemas/CallInProgressHealthCheckMessage'
          - $ref: '#/components/schemas/CallRetryMessage'
          - $ref: '#/components/schemas/VoiceMigrationMessage'
          - $ref: '#/components/schemas/CallReportsEnqueueMessage'
          - $ref: '#/components/schemas/ScenarioGenerationMessage'
          - $ref: '#/components/schemas/ProcessMessagingMessage'
          - $ref: '#/components/schemas/CreateDefaultAgentsMessage'
          - $ref: '#/components/schemas/UpdateScenarioAgentMessage'
          - $ref: '#/components/schemas/SlackAlertMessage'
          - $ref: '#/components/schemas/ConversationExportMessage'
          - $ref: '#/components/schemas/DispatchOutboundCallMessage'
          - $ref: '#/components/schemas/NoOpMessage'
          title: Message
          discriminator:
            propertyName: type
            mapping:
              batch_calls_retry: '#/components/schemas/BatchCallsRetryMessage'
              batch_report_generation: '#/components/schemas/BatchReportGenerationMessage'
              call_in_progress_health_check: '#/components/schemas/CallInProgressHealthCheckMessage'
              call_outcome: '#/components/schemas/CallOutcomeMessage'
              call_queued_health_check: '#/components/schemas/CallQueuedHealthCheckMessage'
              call_reports_enqueue: '#/components/schemas/CallReportsEnqueueMessage'
              call_retry: '#/components/schemas/CallRetryMessage'
              conversation_export: '#/components/schemas/ConversationExportMessage'
              create_batch_calls: '#/components/schemas/CreateBatchCallsMessage'
              create_default_agents: '#/components/schemas/CreateDefaultAgentsMessage'
              delete_expired_org_data_tick: '#/components/schemas/DeleteExpiredOrgDataTickMessage'
              delete_old_tasks_tick: '#/components/schemas/DeleteOldTasksTickMessage'
              dispatch_outbound_call: '#/components/schemas/DispatchOutboundCallMessage'
              enhanced_transcription: '#/components/schemas/EnhancedTranscriptionMessage'
              no_op: '#/components/schemas/NoOpMessage'
              outbound_dispatch_tick: '#/components/schemas/OutboundDispatchTickMessage'
              process_messaging_message: '#/components/schemas/ProcessMessagingMessage'
              scenario_generation: '#/components/schemas/ScenarioGenerationMessage'
              scenario_insight_analysis: '#/components/schemas/ScenarioInsightAnalysisMessage'
              slack_alert: '#/components/schemas/SlackAlertMessage'
              stale_call_cleanup: '#/components/schemas/StaleCallCleanupMessage'
              start_batch_calls_tick: '#/components/schemas/StartBatchCallsTickMessage'
              update_scenario_agent: '#/components/schemas/UpdateScenarioAgentMessage'
              voice_migration: '#/components/schemas/VoiceMigrationMessage'
              webhook_notification: '#/components/schemas/WebhookNotificationMessage'
              zoho_call_activity: '#/components/schemas/ZohoCallActivityMessage'
              zoho_crm_record_update: '#/components/schemas/ZohoCRMRecordUpdateMessage'
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - id
      - type
      - status
      - status_changed_at
      - message
      - created_at
      - updated_at
      title: Task
    SlackAlertMessage:
      properties:
        type:
          type: string
          const: slack_alert
          title: Type
          default: slack_alert
        payload:
          $ref: '#/components/schemas/GenericSlackAlert'
      type: object
      required:
      - payload
      title: SlackAlertMessage
    ErrorWebhookData:
      properties:
        status:
          type: string
          const: failed
          title: Status
        error:
          type: string
          title: Error
        payload:
          anyOf:
          - $ref: '#/components/schemas/CallCompletedWebhookPayload'
          - $ref: '#/components/schemas/CallNotCompletedWebhookPayload'
          - type: 'null'
          title: Payload
        external_response:
          anyOf:
          - additionalProperties: true
            type: object
          - type: string
          - type: 'null'
          title: External Response
      type: object
      required:
      - status
      - error
      title: ErrorWebhookData
    NoOpMessage:
      properties:
        type:
          type: string
          const: no_op
          title: Type
          default: no_op
      type: object
      title: NoOpMessage
    SarjCustomSTTSettings:
      properties:
        provider:
          type: string
          const: sarj_custom
          title: Provider
      type: object
      required:
      - provider
      title: SarjCustomSTTSettings
    PublicCallDetail:
      properties:
        id:
          type: string
          title: Id
          description: Unique call identifier.
          examples:
          - call_550e8400-e29b-41d4-a716-446655440000
        status:
          anyOf:
          - $ref: '#/components/schemas/CallStatus'
          - type: 'null'
          description: Current call status.
          examples:
          - in_progress
        phone_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Phone Number
          description: Destination phone number.
        scenario_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Scenario Id
          description: Scenario used for this call.
        language:
          anyOf:
          - $ref: '#/components/schemas/Language'
          - type: 'null'
          description: Language the call was conducted in.
        direction:
          anyOf:
          - $ref: '#/components/schemas/PhoneDirection'
          - type: 'null'
          description: Call direction (inbound or outbound).
        variables:
          additionalProperties: true
          type: object
          title: Variables
          description: Template variables that were injected into the scenario. Defaults to an empty object for non-custom scenarios.
        duration:
          anyOf:
          - type: integer
          - type: 'null'
          title: Duration
          description: Total call duration in seconds. Null until the call ends.
        recording_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Recording Url
          description: Signed, time-limited URL to download the call recording. Null when the call has not ended or no recording exists.
        transcript:
          anyOf:
          - items:
              $ref: '#/components/schemas/PublicTranscriptMessage'
            type: array
          - type: 'null'
          title: Transcript
          description: Conversation transcript as an ordered list of spoken messages. Null until the call ends.
        report:
          anyOf:
          - $ref: '#/components/schemas/PublicCallReport'
          - type: 'null'
          description: Post-call outcome report with success-criteria results. Generated asynchronously, typically within a couple of minutes after the call ends, so it is null immediately after completion — poll again or use the call-completed webhook. Only calls that end with status 'completed' or 'max_duration_reached' receive a report; for every other terminal status this stays null. In rare failure cases a completed call never receives a report — treat the webhook as authoritative and bound your polling.
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the call was created.
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Timestamp of the most recent update to the call.
        started_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Started At
          description: Timestamp when the call was answered.
        ended_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Ended At
          description: Timestamp when the call ended.
      additionalProperties: false
      type: object
      required:
      - id
      - created_at
      - updated_at
      title: PublicCallDetail
    FixedValue_str_:
      properties:
        source:
          type: string
          const: fixed
          title: Source
        value:
          type: string
          title: Value
        is_encrypted:
          type: boolean
          title: Is Encrypted
          default: false
      type: object
      required:
      - source
      - value
      title: FixedValue[str]
    HTTPMethod:
      type: string
      enum:
      - GET
      - POST
      - PUT
      - DELETE
      title: HTTPMethod
    AWSTTSSettings:
      properties:
        provider:
          type: string
          const: aws
          title: Provider
        region:
          type: string
          enum:
          - eu-central-1
          - us-east-1
          title: Region
          default: eu-central-1
      type: object
      required:
      - provider
      title: AWSTTSSettings
    SarjEouTurnDetection:
      properties:
        type:
          type: string
          const: sarj_eou
          title: Type
          default: sarj_eou
        threshold:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Threshold
          default: 0.5
        prediction_timeout:
          type: string
          format: duration
          title: Prediction Timeout
          default: PT0.5S
        min_endpointing_delay:
          type: string
          format: duration
          title: Min Endpointing Delay
          default: PT0.5S
        max_endpointing_delay:
          type: string
          format: duration
          title: Max Endpointing Delay
          default: PT3S
        targeted_stt_providers:
          items:
            $ref: '#/components/schemas/STTProvider'
          type: array
          title: Targeted Stt Providers
      type: object
      title: SarjEouTurnDetection
    TransferMode:
      type: string
      enum:
      - cold
      - warm
      title: TransferMode
      description: 'How a transfer-to-human hands the caller over.


        COLD: dial the human into the caller''s room and step out (current default).

        WARM: agent-assisted — caller on hold, human dialed into a private room,

        AI summarizes context, then the two are merged.'
    GlobalOverriddenSettings:
      properties:
        type:
          type: string
          const: override
          title: Type
          default: override
        settings:
          additionalProperties:
            $ref: '#/components/schemas/GlobalSettings'
          propertyNames:
            $ref: '#/components/schemas/Language'
          type: object
          title: Settings
      type: object
      required:
      - settings
      title: GlobalOverriddenSettings
    SuccessCriteriaResult:
      properties:
        text:
          type: string
          title: Text
        achieved:
          type: boolean
          title: Achieved
        is_primary:
          type: boolean
          title: Is Primary
      type: object
      required:
      - text
      - achieved
      - is_primary
      title: SuccessCriteriaResult
    PhoneNumberHistoryResponse:
      properties:
        numbers:
          items:
            $ref: '#/components/schemas/PhoneNumberHistory'
          type: array
          title: Numbers
        cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
        prev_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Prev Cursor
      type: object
      required:
      - numbers
      - cursor
      - prev_cursor
      title: PhoneNumberHistoryResponse
    TTSVoice:
      properties:
        id:
          type: string
          title: Id
        display_name:
          type: string
          title: Display Name
        provider:
          type: string
          title: Provider
        language:
          $ref: '#/components/schemas/Language'
        gender:
          $ref: '#/components/schemas/Gender'
        tts_settings:
          anyOf:
          - $ref: '#/components/schemas/ElevenLabsTTSSettings'
          - $ref: '#/components/schemas/AzureTTSSettings'
          - $ref: '#/components/schemas/OpenAITTSSettings'
          - $ref: '#/components/schemas/AWSTTSSettings'
          - $ref: '#/components/schemas/GroqTTSSettings'
          - $ref: '#/components/schemas/HamsaTTSSettings'
          - $ref: '#/components/schemas/CartesiaTTSSettings'
          - $ref: '#/components/schemas/DeepgramTTSSettings'
          - $ref: '#/components/schemas/SarjF5TTSSettings'
          - $ref: '#/components/schemas/SarjOmniTTSSettings'
          title: Tts Settings
        is_active:
          type: boolean
          title: Is Active
          default: true
        vibe:
          type: string
          title: Vibe
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - id
      - display_name
      - provider
      - language
      - gender
      - tts_settings
      - vibe
      - created_at
      - updated_at
      title: TTSVoice
    StaleCallCleanupMessage:
      properties:
        type:
          type: string
          const: stale_call_cleanup
          title: Type
          default: stale_call_cleanup
      type: object
      title: StaleCallCleanupMessage
    OpenAILLMSettings:
      properties:
        provider:
          type: string
          const: openai
          title: Provider
        region:
          type: string
          const: default
          title: Region
          default: default
        model:
          $ref: '#/components/schemas/OpenAIModel'
      type: object
      required:
      - provider
      - model
      title: OpenAILLMSettings
    UnauthorizedPayload:
      properties:
        message:
          type: string
          title: Message
          description: Human-readable summary. Do not parse programmatically — branch on `type`.
        type:
          type: string
          const: unauthorized
          title: Type
          default: unauthorized
      additionalProperties: false
      type: object
      required:
      - message
      title: UnauthorizedPayload
    ApiCall:
      properties:
        type:
          type: string
          const: api
          title: Type
          default: api
        call_id:
          type: string
          title: Call Id
        identity:
          type: string
          title: Identity
      type: object
      required:
      - call_id
      - identity
      title: ApiCall
    CallReportsEnqueueMessage:
      properties:
        type:
          type: string
          const: call_reports_enqueue
          title: Type
          default: call_reports_enqueue
      type: object
      title: CallReportsEnqueueMessage
    CallInProgressHealthCheckMessage:
      properties:
        type:
          type: string
          const: call_in_progress_health_check
          title: Type
          default: call_in_progress_health_check
        call_id:
          type: string
          title: Call Id
      type: object
      required:
      - call_id
      title: CallInProgressHealthCheckMessage
    ScenarioNotFoundPayload:
      properties:
        message:
          type: string
          title: Message
          description: Human-readable summary. Do not parse programmatically — branch on `type`.
        type:
          type: string
          const: scenario_not_found
          title: Type
          default: scenario_not_found
        scenario_id:
          type: string
          title: Scenario Id
      additionalProperties: false
      type: object
      required:
      - message
      - scenario_id
      title: ScenarioNotFoundPayload
    BackChannelMixConfig:
      properties:
        type:
          type: string
          const: mix
          title: Type
          default: mix
        value:
          type: number
          maximum: 1.0
          exclusiveMinimum: 0.0
          title: Value
          default: 0.6
        word_probability:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Word Probability
          default: 0.7
        whitelist:
          items:
            type: string
          type: array
          title: Whitelist
        sounds:
          items:
            $ref: '#/components/schemas/BackchannelAudioConfig'
          type: array
          minItems: 1
          title: Sounds
      type: object
      required:
      - sounds
      title: BackChannelMixConfig
    GeminiLLMSettings:
      properties:
        provider:
          type: string
          const: gemini
          title: Provider
        region:
          type: string
          enum:
          - us-central1
          - me-central2
          - us-east1
          - europe-west1
          - europe-west3
          title: Region
          default: europe-west3
        model:
          type: string
          enum:
          - flash
          - pro
          - flash-lite-3.1
          title: Model
          default: flash
      type: object
      required:
      - provider
      title: GeminiLLMSettings
    GroqSTTSettings:
      properties:
        provider:
          type: string
          const: groq
          title: Provider
        model:
          $ref: '#/components/schemas/GroqSTTModels'
      type: object
      required:
      - provider
      - model
      title: GroqSTTSettings
    OpenAISTTSettings:
      properties:
        provider:
          type: string
          const: openai
          title: Provider
        model:
          type: string
          enum:
          - gpt-4o-transcribe
          - gpt-4o-mini-transcribe
          title: Model
        region:
          type: string
          const: default
          title: Region
          default: default
      type: object
      required:
      - provider
      - model
      title: OpenAISTTSettings
    CallOutcomeMessage:
      properties:
        type:
          type: string
          const: call_outcome
          title: Type
          default: call_outcome
        call_id:
          type: string
          title: Call Id
        is_retry:
          type: boolean
          title: Is Retry
          default: false
      type: object
      required:
      - call_id
      title: CallOutcomeMessage
    SortOrder:
      type: string
      enum:
      - asc
      - desc
      title: SortOrder
    ValidationErrorPayload:
      properties:
        message:
          type: string
          title: Message
          description: Human-readable summary. Do not parse programmatically — branch on `type`.
        type:
          type: string
          const: validation_error
          title: Type
          default: validation_error
        field_violations:
          items:
            $ref: '#/components/schemas/FieldViolation'
          type: array
          title: Field Violations
          description: Per-field validation details.
      additionalProperties: false
      type: object
      required:
      - message
      - field_violations
      title: ValidationErrorPayload
    CustomScenario:
      properties:
        type:
          type: string
          const: custom
          title: Type
        id:
          type: string
          title: Id
        variables:
          additionalProperties: true
          type: object
          title: Variables
          default: {}
        scenario_settings_override:
          anyOf:
          - $ref: '#/components/schemas/ScenarioSettingsOverride'
          - type: 'null'
      type: object
      required:
      - type
      - id
      title: CustomScenario
    KeyValueVariable:
      properties:
        key:
          type: string
          minLength: 1
          title: Key
        value:
          oneOf:
          - $ref: '#/components/schemas/StringVariable'
          - $ref: '#/components/schemas/NumberVariable'
          - $ref: '#/components/schemas/BooleanVariable'
          - $ref: '#/components/schemas/ArrayVariable'
          title: Value
          discriminator:
            propertyName: type
            mapping:
              array: '#/components/schemas/ArrayVariable'
              boolean: '#/components/schemas/BooleanVariable'
              number: '#/components/schemas/NumberVariable'
              string: '#/components/schemas/StringVariable'
      type: object
      required:
      - key
      - value
      title: KeyValueVariable
    ElevenLabsSTTModel:
      type: string
      enum:
      - scribe_v1
      - scribe_v2
      - scribe_v2_realtime
      title: ElevenLabsSTTModel
    Schema:
      properties:
        fields:
          items:
            anyOf:
            - $ref: '#/components/schemas/GlobalVariableField'
            - $ref: '#/components/schemas/ScenarioRequiredField'
            - $ref: '#/components/schemas/ScenarioOptionalField'
          type: array
          title: Fields
      type: object
      required:
      - fields
      title: Schema
    PublicCallReport:
      properties:
        generated_at:
          type: string
          format: date-time
          title: Generated At
          description: Timestamp when the report was generated.
        outcome:
          $ref: '#/components/schemas/PublicCallOutcome'
          description: Outcome assessment of the call.
      additionalProperties: false
      type: object
      required:
      - generated_at
      - outcome
      title: PublicCallReport
    PhoneNumberBlockedPayload:
      properties:
        message:
          type: string
          title: Message
          description: Human-readable summary. Do not parse programmatically — branch on `type`.
        type:
          type: string
          const: phone_number_blocked
          title: Type
          default: phone_number_blocked
        phone_number:
          type: string
          title: Phone Number
          description: The phone number that is blocked.
      additionalProperties: false
      type: object
      required:
      - message
      - phone_number
      title: PhoneNumberBlockedPayload
    SallaCustomerFacingFunctionality:
      type: string
      enum:
      - browse-products
      - browse-logistics
      - create-update-order
      - read-previous-orders
      title: SallaCustomerFacingFunctionality
      description: Enum for functionalities exposed via the integration APIs. Simplifies UI/UX and bundles required tools under a single functionality.
    AWSSTTSettings:
      properties:
        provider:
          type: string
          const: aws
          title: Provider
        region:
          type: string
          enum:
          - eu-central-1
          - us-east-1
          title: Region
          default: eu-central-1
      type: object
      required:
      - provider
      title: AWSSTTSettings
    AzureSTTSettings:
      properties:
        provider:
          type: string
          const: azure
          title: Provider
        region:
          type: string
          enum:
          - eastus
          - germanywestcentral
          title: Region
          default: eastus
      type: object
      required:
      - provider
      title: AzureSTTSettings
    InteractionType:
      type: string
      enum:
      - voice
      - chat
      title: InteractionType
    ScenarioForbiddenPayload:
      properties:
        message:
          type: string
          title: Message
          description: Human-readable summary. Do not parse programmatically — branch on `type`.
        type:
          type: string
          const: scenario_forbidden
          title: Type
          default: scenario_forbidden
        scenario_id:
          type: string
          title: Scenario Id
      additionalProperties: false
      type: object
      required:
      - message
      - scenario_id
      title: ScenarioForbiddenPayload
    DisconnectionReason:
      type: string
      enum:
      - user_rejected
      - rejected_by_carrier
      - invalid_number
      - user_unavailable
      - sip_trunk_failure
      - no_response
      - user_hangup
      - agent_hangup
      - call_transfer
      - voicemail_reached
      - max_duration_reached
      - room_deleted
      - network_error
      - media_failure
      - agent_error
      - infrastructure_error
      - unknown
      title: DisconnectionReason
    RegularMessage:
      properties:
        type:
          type: string
          const: message
          title: Type
          default: message
        role:
          $ref: '#/components/schemas/TranscriptRole'
        content:
          type: string
          title: Content
        start_at:
          anyOf:
          - type: number
          - type: 'null'
          title: Start At
      type: object
      required:
      - role
      - content
      title: RegularMessage
    InsightCategory:
      type: string
      enum:
      - tool
      - prompt
      - knowledge
      - platform
      title: InsightCategory
      description: What kind of change to the agent resolves the insight.
    ZohoDeskCreateTicketToolParameters:
      properties:
        tool_slug:
          type: string
          const: zoho-desk-create-ticket
          title: Tool Slug
        ticket_creation_cases:
          items:
            type: string
          type: array
          minItems: 1
          title: Ticket Creation Cases
          description: List of cases when a ticket should be created.
          examples:
          - - When the request needs follow-up
            - When there is a technical complaint
            - When the customer requests a callback
        ticket_formatting_instructions:
          type: string
          title: Ticket Formatting Instructions
          description: Instructions for formatting the ticket content
          examples:
          - Include customer name, issue description, and requested resolution
        can_read_previous_tickets:
          type: boolean
          title: Can Read Previous Tickets
          description: When enabled, exposes a companion tool that searches the customer's previous Zoho Desk tickets so the agent can identify existing clients and reference prior context.
          default: false
      type: object
      required:
      - tool_slug
      - ticket_creation_cases
      - ticket_formatting_instructions
      title: ZohoDeskCreateTicketToolParameters
      description: 'Creates a support ticket in Zoho Desk for follow-up actions.


        WHEN TO USE: When an issue needs to be tracked or followed up by the support team.

        BEST PRACTICES:

        - Define specific cases that warrant ticket creation

        - Provide clear formatting instructions for ticket content

        - Include instructions on what data to capture in the ticket


        NOTE: Requires a functional Zoho Desk integration configured for the organization.'
    ZohoCallActivitySink:
      properties:
        type:
          type: string
          const: zoho_crm_call_activity
          title: Type
          default: zoho_crm_call_activity
      type: object
      title: ZohoCallActivitySink
    CustomApiToolParameters:
      properties:
        tool_slug:
          type: string
          const: custom-api
          title: Tool Slug
        name:
          type: string
          minLength: 1
          title: Name
          description: Unique identifier for the API tool
          examples:
          - order_lookup
          - booking_check
        title:
          type: string
          minLength: 1
          title: Title
          description: Human-readable title for the API
          examples:
          - Order Lookup
          - Check Booking Status
        description:
          type: string
          title: Description
          description: Description of what this API does
          examples:
          - Looks up customer orders and returns order details
        method:
          $ref: '#/components/schemas/HTTPMethod'
        endpoint:
          type: string
          title: Endpoint
          description: Full API endpoint URL
          examples:
          - https://api.example.com/customers/{customerId}/orders
        path_params:
          items:
            $ref: '#/components/schemas/KeyValueVariable'
          type: array
          title: Path Params
          description: Dynamic values substituted into endpoint path placeholders
        headers:
          items:
            $ref: '#/components/schemas/KeyValueVariable'
          type: array
          title: Headers
          description: HTTP headers to include in the request
          examples:
          - - key: Content-Type
              value:
                config:
                  source: fixed
                  value: application/json
                name: content_type
                type: string
        query_params:
          items:
            $ref: '#/components/schemas/KeyValueVariable'
          type: array
          title: Query Params
          description: URL query parameters
          examples:
          - - key: customer_id
              value:
                config:
                  source: fixed
                  value: '123456'
                name: customer_id
                type: string
        payload_config:
          $ref: '#/components/schemas/PayloadConfiguration'
          description: Request body configuration with template and variables
          examples:
          - template: '{"customer_id": "{{customer_id}}"}'
        connection_settings:
          $ref: '#/components/schemas/ConnectionSettings'
          description: Timeout and retry configuration
          examples:
          - retry_count: 2
            timeout: 30
        instructions:
          $ref: '#/components/schemas/Instructions'
          description: Messages and response processing instructions
          examples:
          - on_failure:
              ar: ما قدرت ألقى الطلب. تقدر تتأكد من رقم الطلب؟
              en: I couldn't find that order. Could you verify the order number?
            on_success:
              ar: لقيت طلبك. الحين قيد المعالجة
              en: I found your order. It's currently being processed.
            response_processing: Extract the order_status field from the response
      type: object
      required:
      - tool_slug
      - name
      - title
      - description
      - method
      - endpoint
      - headers
      - query_params
      - payload_config
      - connection_settings
      - instructions
      title: CustomApiToolParameters
      description: 'Calls a custom external API during the conversation.


        WHEN TO USE: When the scenario needs to fetch or send data to external systems

        (e.g., order lookup, booking systems, CRM updates).

        BEST PRACTICES:

        - Only include if explicitly required by the business requirements

        - Define clear response processing instructions

        - Set appropriate timeout and retry values

        - Include proper error handling messages


        NOTE: This is an advanced tool. Only generate this if the requirements

        explicitly mention API integration needs.'
    PhoneDirection:
      type: string
      enum:
      - inbound
      - outbound
      title: PhoneDirection
    CallNotCompletedWebhookPayload:
      properties:
        type:
          $ref: '#/components/schemas/CallNotCompletedType'
      type: object
      required:
      - type
      title: CallNotCompletedWebhookPayload
    CerebrasLLMModel:
      type: string
      enum:
      - llama-3.1-8b-instruct
      title: CerebrasLLMModel
    ZohoCRMRecordUpdateMessage:
      properties:
        type:
          type: string
          const: zoho_crm_record_update
          title: Type
          default: zoho_crm_record_update
        call_id:
          type: string
          title: Call Id
        record_id:
          type: string
          title: Record Id
        module:
          $ref: '#/components/schemas/ZohoCRMModules'
          default: Leads
      type: object
      required:
      - call_id
      - record_id
      title: ZohoCRMRecordUpdateMessage
    BackChannelWordConfig:
      properties:
        type:
          type: string
          const: word
          title: Type
          default: word
        value:
          type: number
          maximum: 1.0
          exclusiveMinimum: 0.0
          title: Value
          default: 0.6
        whitelist:
          items:
            type: string
          type: array
          title: Whitelist
      type: object
      title: BackChannelWordConfig
    OpenAITTSVoices:
      type: string
      enum:
      - alloy
      - ash
      - ballad
      - coral
      - echo
      - fable
      - onyx
      - nova
      - sage
      - shimmer
      title: OpenAITTSVoices
    VoiceMigrationMessage:
      properties:
        type:
          type: string
          const: voice_migration
          title: Type
          default: voice_migration
      type: object
      title: VoiceMigrationMessage
    ScenarioInsight:
      properties:
        id:
          type: string
          title: Id
        organization_id:
          type: string
          title: Organization Id
        custom_scenario_id:
          type: string
          title: Custom Scenario Id
        title:
          type: string
          title: Title
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        category:
          anyOf:
          - $ref: '#/components/schemas/InsightCategory'
          - type: 'null'
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      additionalProperties: false
      type: object
      required:
      - id
      - organization_id
      - custom_scenario_id
      - title
      - description
      - category
      - created_at
      - updated_at
      title: ScenarioInsight
    OpenAITTSSettings:
      properties:
        provider:
          type: string
          const: openai
          title: Provider
        model:
          $ref: '#/components/schemas/OpenAITTSModels'
          default: gpt-4o-mini-tts
        voice:
          $ref: '#/components/schemas/OpenAITTSVoices'
          default: ash
        speed:
          type: number
          maximum: 4.0
          minimum: 0.2
          title: Speed
          description: Speech speed (0.2-4.0)
          default: 1.0
        instructions:
          anyOf:
          - type: string
          - type: 'null'
          title: Instructions
      type: object
      required:
      - provider
      title: OpenAITTSSettings
    DeepgramTTSModel:
      type: string
      enum:
      - aura-2
      title: DeepgramTTSModel
    CountForOrgResponse:
      properties:
        outbound:
          type: integer
          title: Outbound
        answered:
          type: integer
          title: Answered
      type: object
      required:
      - outbound
      - answered
      title: CountForOrgResponse
    GroqLLMModel:
      type: string
      enum:
      - llama-3.1-405b-reasoning
      - llama-3.1-8b-instant
      - llama-3.3-70b-versatile
      - llama3-groq-70b-8192-tool-use-preview
      - llama3-groq-8b-8192-tool-use-preview
      - llama-guard-3-8b
      - llama3-70b-8192
      - llama3-8b-8192
      - mixtral-8x7b-32768
      - gemma-7b-it
      - gemma2-9b-it
      - meta-llama/llama-4-scout-17b-16e-instruct
      - meta-llama/llama-4-maverick-17b-128e-instruct
      - openai/gpt-oss-20b
      - openai/gpt-oss-120b
      - qwen/qwen3-32b
      title: GroqLLMModel
    LanguageSettings:
      properties:
        language:
          $ref: '#/components/schemas/Language'
      type: object
      required:
      - language
      title: LanguageSettings
    WorkingHoursEnabledV2:
      properties:
        enabled:
          type: boolean
          const: true
          title: Enabled
          default: true
        schedule_configuration:
          $ref: '#/components/schemas/ScheduleConfiguration'
      type: object
      required:
      - schedule_configuration
      title: WorkingHoursEnabledV2
    CodeSwitchToolParameters:
      properties:
        tool_slug:
          type: string
          const: code-switching
          title: Tool Slug
        switch_cases:
          items:
            type: string
          type: array
          minItems: 1
          title: Switch Cases
          description: List of cases when a language switch should occur.
          examples:
          - - When the user speaks in a different language
            - When user explicitly requests language change
        transition_phrase:
          additionalProperties:
            anyOf:
            - type: string
            - type: 'null'
          propertyNames:
            $ref: '#/components/schemas/Language'
          type: object
          title: Transition Phrase
          description: Dictionary mapping target languages to transition phrases to inform the user of the language switch.
          examples:
          - ar: دعنا نكمل بالعربية.
            en: Let's continue in English.
            ur: آئیے اردو میں بات جاری رکھتے ہیں۔
      type: object
      required:
      - tool_slug
      - switch_cases
      title: CodeSwitchToolParameters
      description: 'Switches the conversation language when the user speaks a different language.


        WHEN TO USE: When the scenario needs to support multiple languages and

        gracefully switch between them based on user preference.

        BEST PRACTICES:

        - Define clear cases for when to switch languages

        - Include culturally appropriate transition phrases in each language

        - Common trigger: when user speaks in a different language'
    AgentProvidedVariable_Literal__array___:
      properties:
        source:
          type: string
          const: agent_provided
          title: Source
        description:
          type: string
          title: Description
        type:
          type: string
          const: array
          title: Type
        required:
          type: boolean
          title: Required
        allowed_values:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Allowed Values
      type: object
      required:
      - source
      - description
      - type
      - required
      title: AgentProvidedVariable[Literal['array']]
    ScenarioInsightAnalysisMessage:
      properties:
        type:
          type: string
          const: scenario_insight_analysis
          title: Type
          default: scenario_insight_analysis
        call_id:
          type: string
          title: Call Id
      type: object
      required:
      - call_id
      title: ScenarioInsightAnalysisMessage
    ToolResultMessage:
      properties:
        type:
          type: string
          const: function_call_output
          title: Type
          default: function_call_output
        tool_name:
          type: string
          title: Tool Name
        output:
          type: string
          title: Output
        tool_call_id:
          type: string
          title: Tool Call Id
        is_error:
          type: boolean
          title: Is Error
        start_at:
          anyOf:
          - type: number
          - type: 'null'
          title: Start At
        duration_ms:
          anyOf:
          - type: number
          - type: 'null'
          title: Duration Ms
      type: object
      required:
      - tool_name
      - output
      - tool_call_id
      - is_error
      title: ToolResultMessage
    CartesiaTTSSettings:
      properties:
        provider:
          type: string
          const: cartesia
          title: Provider
        model:
          $ref: '#/components/schemas/CartesiaModels'
          default: sonic-3
        voice:
          type: string
          title: Voice
          default: f257d7af-eb60-4ef0-8815-b78701006c2c
        speed:
          type: number
          maximum: 1.5
          minimum: 0.6
          title: Speed
          description: Speech speed (0.6-1.5)
          default: 1.0
        emotion:
          anyOf:
          - type: string
          - type: 'null'
          title: Emotion
      type: object
      required:
      - provider
      title: CartesiaTTSSettings
    DisableBackChanneling:
      properties:
        type:
          type: string
          const: disable
          title: Type
          default: disable
      type: object
      title: DisableBackChanneling
    OutboundCallFailedPayload:
      properties:
        message:
          type: string
          title: Message
          description: Human-readable summary. Do not parse programmatically — branch on `type`.
        type:
          type: string
          const: outbound_call_failed
          title: Type
          default: outbound_call_failed
        reason:
          type: string
          title: Reason
          description: Stable-ish reason string from the call service.
      additionalProperties: false
      type: object
      required:
      - message
      - reason
      title: OutboundCallFailedPayload
    Call:
      properties:
        id:
          type: string
          title: Id
        user_id:
          type: string
          title: User Id
        organization_id:
          type: string
          title: Organization Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        started_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Started At
        egress_started_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Egress Started At
        total_duration:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Duration
        ended_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Ended At
        status:
          anyOf:
          - $ref: '#/components/schemas/CallStatus'
          - type: 'null'
        scenario:
          anyOf:
          - type: string
          - type: 'null'
          title: Scenario
        scenario_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Scenario Id
        scenario_data:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Scenario Data
        custom_scenario_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Scenario Id
        custom_scenario:
          anyOf:
          - $ref: '#/components/schemas/CustomScenarioRecord'
          - type: 'null'
        direction:
          anyOf:
          - $ref: '#/components/schemas/PhoneDirection'
          - type: 'null'
        phone_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Phone Number
        sip_status:
          anyOf:
          - $ref: '#/components/schemas/SipStatus'
          - type: 'null'
        sip_status_code:
          anyOf:
          - type: integer
          - type: 'null'
          title: Sip Status Code
        disconnection_reason:
          anyOf:
          - $ref: '#/components/schemas/DisconnectionReason'
          - type: 'null'
        sip_trunk_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sip Trunk Id
        sip_call_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Sip Call Id
        lk_room_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Lk Room Name
        trunk_phone_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Trunk Phone Number
        response_body:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Response Body
        language:
          anyOf:
          - $ref: '#/components/schemas/Language'
          - type: 'null'
        report:
          anyOf:
          - $ref: '#/components/schemas/Report'
          - type: 'null'
        post_call_transcript:
          anyOf:
          - $ref: '#/components/schemas/PostCallTranscript'
          - type: 'null'
        interaction_type:
          anyOf:
          - $ref: '#/components/schemas/InteractionType'
          - type: 'null'
        attempt_count:
          type: integer
          title: Attempt Count
          default: 0
      type: object
      required:
      - id
      - user_id
      - organization_id
      - created_at
      - updated_at
      title: Call
    DispatchOutboundCallMessage:
      properties:
        type:
          type: string
          const: dispatch_outbound_call
          title: Type
          default: dispatch_outbound_call
        call_id:
          type: string
          title: Call Id
        call_creation_settings:
          $ref: '#/components/schemas/CallCreationSettings'
        priority:
          $ref: '#/components/schemas/CallDispatchPriority'
          default: normal
      type: object
      required:
      - call_id
      - call_creation_settings
      title: DispatchOutboundCallMessage
    PhoneNumberSortField:
      type: string
      enum:
      - phone_number
      - organization_name
      - total_call_count
      - inbound_count
      - outbound_count
      title: PhoneNumberSortField
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CallRecordingFormat:
      type: string
      enum:
      - mp4
      title: CallRecordingFormat
    HamsaTTSSettings:
      properties:
        provider:
          type: string
          const: hamsa
          title: Provider
        speaker:
          $ref: '#/components/schemas/HamsaTTSSpeaker'
          default: Hiba
        dialect:
          $ref: '#/components/schemas/HamsaTTSDialect'
          default: ksa
      type: object
      required:
      - provider
      title: HamsaTTSSettings
    STTTranscription:
      properties:
        id:
          type: string
          title: Id
        call_id:
          type: string
          title: Call Id
        created_at:
          type: string
          format: date-time
          title: Created At
        provider:
          $ref: '#/components/schemas/STTProvider'
        transcript:
          type: string
          title: Transcript
        latency:
          type: integer
          title: Latency
      type: object
      required:
      - id
      - call_id
      - created_at
      - provider
      - transcript
      - latency
      title: STTTranscription
    AgentProvidedVariable_Literal__boolean___:
      properties:
        source:
          type: string
          const: agent_provided
          title: Source
        description:
          type: string
          title: Description
        type:
          type: string
          const: boolean
          title: Type
        required:
          type: boolean
          title: Required
        allowed_values:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Allowed Values
      type: object
      required:
      - source
      - description
      - type
      - required
      title: AgentProvidedVariable[Literal['boolean']]
    BatchReportGenerationMessage:
      properties:
        type:
          type: string
          const: batch_report_generation
          title: Type
          default: batch_report_generation
        batch_id:
          type: string
          title: Batch Id
        custom_columns:
          items:
            $ref: '#/components/schemas/ReportColumn'
          type: array
          maxItems: 256
          title: Custom Columns
        columns:
          items:
            $ref: '#/components/schemas/ReportColumn'
          type: array
          maxItems: 256
          title: Columns
        file_key:
          anyOf:
          - type: string
          - type: 'null'
          title: File Key
        batch_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Batch Name
      type: object
      required:
      - batch_id
      title: BatchReportGenerationMessage
    ClientCallResponse:
      properties:
        call_id:
          type: string
          title: Call Id
        language:
          anyOf:
          - $ref: '#/components/schemas/Language'
          - type: 'null'
        created_at:
          type: string
          title: Created At
        direction:
          anyOf:
          - $ref: '#/components/schemas/PhoneDirection'
          - type: 'null'
        total_duration:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Duration
        status:
          anyOf:
          - $ref: '#/components/schemas/CallStatus'
          - type: 'null'
        phone_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Phone Number
      type: object
      required:
      - call_id
      - language
      - created_at
      - direction
      - total_duration
      - status
      - phone_number
      title: ClientCallResponse
    InboundCallSuccess:
      properties:
        call_id:
          type: string
          title: Call Id
        participant_name:
          type: string
          title: Participant Name
        participant_token:
          type: string
          title: Participant Token
        room_name:
          type: string
          title: Room Name
        server_url:
          type: string
          title: Server Url
      type: object
      required:
      - call_id
      - participant_name
      - participant_token
      - room_name
      - server_url
      title: InboundCallSuccess
    DataExtractionDisabled:
      properties:
        type:
          type: string
          const: disabled
          title: Type
          default: disabled
      type: object
      title: DataExtractionDisabled
    TranscriptRole:
      type: string
      enum:
      - instructions
      - system prompt
      - user
      - assistant
      - system
      - developer
      - agent
      - transfer agent
      - human agent
      title: TranscriptRole
    DataExtractionEnabled:
      properties:
        type:
          type: string
          const: enabled
          title: Type
          default: enabled
        json_schema:
          additionalProperties: true
          type: object
          title: Json Schema
          description: JSON Schema defining what data to extract. Must be a valid JSON Schema with type, properties, and required fields.
          examples:
          - description: Data collected from customer feedback call
            properties:
              satisfaction_rating:
                description: Customer satisfaction from 1-5
                maximum: 5
                minimum: 1
                title: Satisfaction Rating
                type: integer
              preferred_contact_method:
                description: How customer prefers follow-up
                enum:
                - phone
                - email
                - whatsapp
                - sms
                title: Preferred Contact Method
                type: string
            required:
            - satisfaction_rating
            title: Customer Feedback
            type: object
        advanced_settings:
          $ref: '#/components/schemas/AdvancedDataExtractionSettings'
          description: Optional advanced settings for data sinks
      type: object
      required:
      - json_schema
      title: DataExtractionEnabled
      description: 'Captures structured data from conversations for analytics and business intelligence.


        WHEN TO USE:

        - Client needs specific data points extracted from calls

        - Business requires analytics on conversation outcomes

        - Data needs to be stored in structured format for CRM/reporting systems


        HOW TO CONFIGURE:

        1. Define the JSON schema with clear property names

        2. Specify data types: boolean, string, number, or enum (for multiple choice)

        3. Add descriptive titles and descriptions for each field

        4. Mark required fields - only fields critical for business value

        5. Use enum for predefined options (e.g., contact methods, categories)


        COMMON USE CASES:

        - E-commerce: Discount acceptance, preferred contact method, product feedback

        - Healthcare: Symptom severity, appointment preferences, satisfaction ratings

        - Banking: Transaction types, complaint categories, resolution preferences

        - Customer Service: Issue type, urgency level, satisfaction score

        - Sales: Lead quality, interest level, budget range, decision timeframe


        NOTE: Only include data extraction when the client needs structured data

        capture. Not all scenarios require this feature.'
    LiveKitTurnDetection:
      properties:
        type:
          type: string
          const: livekit_v1_mini
          title: Type
          default: livekit_v1_mini
        unlikely_threshold:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Unlikely Threshold
        min_endpointing_delay:
          type: string
          format: duration
          title: Min Endpointing Delay
          default: PT0.3S
        max_endpointing_delay:
          type: string
          format: duration
          title: Max Endpointing Delay
          default: PT2.5S
      type: object
      title: LiveKitTurnDetection
    CountForOrgInput:
      properties:
        phone_number:
          type: string
          title: Phone Number
      type: object
      required:
      - phone_number
      title: CountForOrgInput
    PayloadConfiguration:
      properties:
        template:
[...]
